* {
  margin: 0;
  padding: 0;
}

/** color variables */
:root {
  --color-primary-100: #4e65f5;
  --color-primary-200: #6a75f7;
  --color-primary-300: #8185f9;
  --color-primary-400: #9695fa;
  --color-primary-500: #a9a6fb;
  --color-primary-600: #bbb7fd;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #29294e;
  --color-surface-mixed-200: #3f3d60;
  --color-surface-mixed-300: #555372;
  --color-surface-mixed-400: #6b6985;
  --color-surface-mixed-500: #838099;
  --color-surface-mixed-600: #9a98ac;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-surface-100);
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--color-surface-200) ;
  display: flex;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--color-primary-100);
}

.submit-button {
  background-color: var(--color-primary-500);
  border-radius: 8px;
  padding: 15px 32px;
  color: var(--color-surface-200);
  border: 2px solid var(--color-surface-200);
  transition-duration: 0.4s;
}

.submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.inputregister {
  width: 50%;
  background-color: var(--color-surface-400);
  border-radius: 8px;
  border: 2px solid var(--color-surface-300);
  /* color: var(--color-surface-300); */
  font-size: 2vh;
  height: 5vh;
  width: 40vw;
}
.inputregister:focus {
  outline: none;
  border: 3px solid var(--color-primary-200);
}


.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-surface-200);
  width: 50vw;
  border-radius: 15px;
}

.post {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 7px 29px 0px;
}

.post:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.post .card-header{
  flex: 20%;
  border-bottom: 1 px solid lightgray;
  background-color: var(--color-primary-100);
  display: grid;
  place-content: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post .body{
  flex: 60%;
  display: grid;
  place-content: center;
  background-color: var(--color-surface-40);
  color: white;
}

.post .footer{
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: var(--color-primary-100);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post .title{
  flex: 20%;
  border-bottom: 1 px solid lightgray;
  background-color: var(--color-primary-100);
  display: grid;
  place-content: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.createPostPage{
  font-family: Arial, helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid var(--color-primary-100);
  border-radius: 5px;
  color: white;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  width: 485px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: var(--color-primary-200);
  border-radius: 5px;
  color: white;
  width: 500px;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: var(--color-primary-100);
}

span {
  color: red;
}

.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

.error h1 {
  font-family: Merriweather;
  color: var(--color-primary-100);
  Margin-top: 200px;
  display: grid;
  place-items: center;
}

.error h3 {
  font-family: Merriweather;
  color: var(--color-primary-100);
  display: grid;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  margin-top: 30px;
  width: 400px;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}


#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  width: 400px;
  padding: 0.5em;
  padding-left: 1.1em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: var(--color-primary-200);
  color: white;
}

.button1:hover {
  background-color: var(--color-primary-100);
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: var(--color-primary-200);
  color: white;
}

.button2:hover {
  background-color: var(--color-primary-100);
  color: white;
}
